{% extends 'core/base.html' %}
{% load static %}
{% block title %}Ficha producto{% endblock %}

{% block first_content %}
<main class="pb-5 pt-4">
    <div class="container pt-5 colores_elementos">
        <div class="row justify-content-center">
            <div class="col">
            <img class="ficha_producto2" src="../../static/core/img/cascabel_gato.jpg" alt="Cascabel gato">
           </div>
           <div class="col">
            <p class="text-left h2">Cascabel para gatos</p>
            <p class="text-left h5">Descripción.</p>
            <p class="text-left h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reprehenderit, facilis reiciendis voluptas non laborum eveniet magnam hic, doloremque nemo nisi corrupti minus sed at rerum, omnis tempore fuga culpa.</p>
            <p class="text-left h5">Características</p>
            <p class="text-left h6">Collar: Plastico <br> Cascabel: Metal <br> Cierre: Hebilla </p>
            <p class="text-left h4">Precio <br> $7.990</p>
           </div>
        </div>
        <div class="container-fluid pt-5">
            <div class="row justify-content-center">
                <p class="col h2 text-center">Productos similares</p>
            </div>
            <div class="row justify-content-center pt-4 pb-3">
                <div class="col offset-md-5">
                    <a href="{% url 'carnet_tipo3' %}"><img src="../../static/core/img/carnet-tipo3.jpg" alt="" class="producto_destacado"></a>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}