{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block first_content %}
    <main class="pb-5">
        <div class="container-fluid pt-5">
            <div class="row">
                <p class="h2 text-center">Ayuda</p>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-2 border border-light col-4 colores_elementos ">   
                    <p class="h4 offset-md-2 text-light">Centro de Ayuda</p>
                    <br>
                    <a class="nav-link text-light" href="{% url 'micuenta' %}">Mi cuenta.</a>
                    <br>
                    <a class="nav-link text-light" href="{% url 'compraproductos' %}">Compra productos.</a>
                    <br>
                    <a class="nav-link text-light" href="{% url 'despacho' %}">Despacho.</a>
                    <br>
                    <a class="nav-link text-light" href="{% url 'formasdepago' %}">Formas de pago.</a>
                    <br>
                    <a class="nav-link text-light" href="{% url 'preguntasfrecuentes' %}">Preguntas frecuentes.</a>
                      <br>
                </div>
                <div class=" col-2 border border-light col-5 offset-md-1 colores_elementos">   
                    <p class="h4 offset-md-2 text-light">Compre de productos</p>
                    <br>
                    <p href="#" class="nav-link text-light">Tiempos de envio.</a>
                    <br>
                    <br>
                    <p href="#" class="nav-link text-light">Envío Santiago: 1 a 15 días dependiendo del stock del producto en sucursales cercanas.</p>
                    <p href="#" class="nav-link text-light">Envío Viña de Mar: 3 a 15 días dependiendo del stock del producto en sucursales cercanas. </p>
                    <p href="#" class="nav-link text-light">Envío Valparaíso: 3 a 15 días dependiendo del stock del producto en sucursales cercanas.</p>
                    <p href="#" class="nav-link text-light">Envío a otras regiones: 5 a 15 días dependiendo del stock del producto en sucursales cercanas.</p>
                    <br>
                    <br>
                    <p href="#" class="nav-link text-light"> Poilitcas de cambio y devolución.</p>
                    <br>
                    <p href="#" class="nav-link text-light">Productos solo pueden ser cambiados o devueltos luego de 5 días corridos una vez realizada la compra posterior a este tiempo el producto no será aceptado. <br> En caso de productos con despecho, el cambio o devolución del producto puede ser realizado en 7 días corridos para que puede ser aceptado el producto. </p>
                    <br>
                    </div>
                    </div>
                </div>
            </main>
{% endblock %}  