{% extends 'core/base.html' %}
{% load static %}
{% block title %} Cuenta {% endblock %}


{% block first_content %}
<main class="pb-5">
    <div class="container-fluid pt-5 border border-dark">
      <div class="row">
        <div class="col-md-2 border border-dark colores_elementos">
          <p class="h5">Mi cuenta</p>
          <a href="#" style="text-decoration: none; color: white;"> Historial de compras</a><br>
          <a href="#" style="text-decoration: none; color: white;"> Estado de compras</a><br>
          <a href="#" style="text-decoration: none; color: white;"> Información de la cuenta</a><br>
        </div>
        <div class="col-8 border border-dark offset-md-1 colores_elementos">
          <p class="h4">Historial de compras</p>
          <div class="row">
            <img src="../img/bandana_perro.jpg" alt="bandana_perro" class="producto_destacado col-2">
            <p class="col h5">Nombre producto: Bandana perro <br>
                              ID compra: 23124562 <br>
                              Fecha de compra 04/04/2022
                              <button type="button" class="btn btn-info col offset-md-4">Información adicional</button></p>
          </div>
          <div class="row pt-2">
            <img src="../img/cascabel_gato.jpg" alt="cascabel_gato" class="producto_destacado col-2">
            <p class="col h5">Nombre producto: Cascabel gato <br>
                              ID compra: 2246722 <br>
                              Fecha de compra 28/03/2022
                              <button type="button" class="btn btn-info col offset-md-4">Información adicional</button></p>
          </div>
        
        </div>
      </div>
    </div>
</main>
<br>
<br>
<br>
{% endblock %}