{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block first_content %}
    <main class="pb-5">
        <div class="container-fluid pt-5">
            <div class="row">
                <p class="h2 text-center">Ayuda</p>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-2 border border-light col-4 colores_elementos ">   
                    <p class="h4 offset-md-2 text-light">Centro de Ayuda</p>
                    <br>
                    <a class="nav-link text-light" href="{% url 'micuenta' %}">Mi cuenta.</a>
                    <br>
                    <a class="nav-link text-light" href="{% url 'compraproductos' %}">Compra productos.</a>
                    <br>
                    <a class="nav-link text-light" href="{% url 'despacho' %}">Despacho.</a>
                    <br>
                    <a class="nav-link text-light" href="{% url 'formasdepago' %}">Formas de pago.</a>
                    <br>
                    <a class="nav-link text-light" href="{% url 'preguntasfrecuentes' %}">Preguntas frecuentes.</a>
                      <br>
                </div>
                <div class=" col-2 border border-light col-5 offset-md-1 colores_elementos">   
                    <p class="h4 offset-md-2 text-light">Despachos</p>
                    <br>
                    <p href="#" class="nav-link text-light">Costos de despacho.</p>
                    <p href="#" class="nav-link text-light">Envío Santiago: $1.000</p>
                    <p href="#" class="nav-link text-light">Envío Viña de Mar: $1.500</p>
                    <p href="#" class="nav-link text-light">Envío Valparaíso: $1.500</p>
                    <p href="#" class="nav-link text-light">Envío a otras regiones: $2.000</p>
                    <br>
                    <p href="#" class="nav-link text-light">Modalidad de entrtega.</p>
                    <p href="#" class="nav-link text-light">Entregas a domicilio.</p>
                    <p href="#" class="nav-link text-light">Entrega Chilexpress.</p>
                    <p href="#" class="nav-link text-light">Entregas Correos de Chile.</p>
                    <p href="#" class="nav-link text-light">Puntos de entrega.</p>
                    <br>
                    </div>
                    </div>
                </div>
            </main>
{% endblock %}