{% extends 'core/base.html' %}
{% load static %}
{% block title %} Iniciar Sesion {% endblock %}

{% block first_content %}
</head>
<script>
         $(document).ready(function(){
        $("#IniciarSesion").ready(function(){
          //Ocultar Alerta cuando cargue la pagina
          $("#alertaSesion").hide();
          var mensaje = "";
          $("#alertaSesion").html(mensaje);
          //si nombre pierde el foco
          $("#sesion").focusout(function(){
            // si no hay caracteres, mostramos alerta
              if ($("#sesion").val().trim().length == 0) {
                  mensaje = "Debe ingresar un Correo Electrónico";
                    $("#alertaSesion").html(mensaje);
                    $("#alertaSesion").show();

              } else {
                  //si hay caracteres, ocultamos la alerta
                  $("#alertaSesion").hide();
                }
          });

            $("#alertaSesion").hide();
              var mensaje = "";
            });
            
           
          $("#contraSesion").hide();
        
          $("#contraSesion").hide();
          var mensaje = "";
          $("#contraSesion").html(mensaje);
          //si nombre pierde el foco
          $("#contrasena").focusout(function(){
            // si no hay caracteres, mostramos alerta
              if ($("#contrasena").val().trim().length == 0) {
                  mensaje = "Debe ingresar una Contraseña";
                    $("#contraSesion").html(mensaje);
                    $("#contraSesion").show();

              } else {
                  //si hay caracteres, ocultamos la alerta
                  $("#contraSesion").hide();
                }
          })
        });

          $(document).ready(function () {
            $('#mostrar_contrasena').click(function () {
              if ($('#mostrar_contrasena').is(':checked')) {
               $('#contrasena').attr('type', 'text');
                } else {
                  $('#contrasena').attr('type', 'password');
                }
              })
        });
</script>
<main class="pt-5 pb-5">
      <form  id="iniciarSesion" class="border border-dark colores_elementos">

        <div class="form-group">
        <div class="alert alert-danger" id="alertaSesion" role="alert">
          </div>
        <label for="sesion">Correo Electrónico:</label>
          <br>
        <input type="email" class="form-control" name="sesion" id="sesion">
          <br>
        </div>

          <div class="form-group">
            <div class="alert alert-danger" id="contraSesion" role="alert">
            </div>
                <label for="password">Contraseña:</label>
                <input name="mostrar_contrasena" type="password" class="form-control" id="contrasena">
            </div>
              <div class="col">
                <label for="password"></label>
                <!-- checkbox que nos permite activar o desactivar la opcion -->
                <div style="margin-top:15px;">
                  <input type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña" class="form-check-input"/>
                  &nbsp;&nbsp;Mostrar Contraseña</div>
              </div>
              <div class="form-check">
                <input type="checkbox" name="remember" id="remember" class="form-check-input"/>
                <label for="remember-me">Recordarme</label>
              </div>
            </div>
          </div>
        </div>
          <br>
          <div>
            <input type="submit" class="btn btn-green" id="Iniciar Sesión" value="Iniciar Sesion">
            <input type="reset" class="btn btn-primary" id="Limpiar" value="Limpiar">
            <br>
            <br>
        </form>  
      </div>
        </form>
        <br>
        <br>
        <br>
        <br>
</main>
{% endblock %}