{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
    
    {% block first_content %}
    <main class="pb-5">
        <div class="container-fluid pt-5">
            <div class="row">
                <p class="h2 text-center">Ofertas.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 border border-dark text-center colores_elementos">
                    <a href="./vistas/Fichasproducto/Carnet_tipo3.html"><img src="../../static/core/img/carnet-tipo3.jpg" alt="carnettipo3" class="product_destacado img-thumbnail center"></a>
                    <p class="h3">Carnet tipo 3</p>
                </div>
                <div class="col-4 border border-dark text-center colores_elementos">
                    <a href="./vistas/Fichasproducto/Bandana_perro.html"><img src="../../static/core/img/bandana_perro.jpg" alt="Bandana perro" class="product_destacado img-thumbnail center"></a>
                    <p class="h3">Bandana perro</p>
                </div>
                <div class="col-4 border border-dark text-center colores_elementos">
                    <a href="./vistas/Fichasproducto/cascabel_gato.html"><img src="../../static/core/img/cascabel_gato.jpg" alt="Cascabel gato" class="product_destacado img-thumbnail center"></a>
                    <p class="h3">Cascabel gato</p>
                </div>
            </div>
        </div>
    </main>
  {% endblock %}