{% extends 'core/base.html' %}
{% load static %}
{% block title %} Productos {% endblock %}

{% block first_content %}
<main class="pb-5 pt-5">
    <div class="container-fluid pt-5">
      <div class="d-flex justify-content-center pb-3">
        <button type="button" class="btn btn-outline-light" style="background-color: purple">Precio</button>
        <button type="button" class="btn btn-outline-light" style="background-color: purple">Agregados recientemente</button>
        <button type="button" class="btn btn-outline-light" style="background-color: purple">Populares</button>
      </div>
      <div class="row border border-dark colores_elementos">
        <div class="col-2 border border-dark">
          <p class="h5"> Filtros</p>
          <p><input type="checkbox" name="" id="Categoria">Categoria</p>
          <p><input type="checkbox" name="" id="Tipomascota">Tipo Mascota</p>
          <p><input type="checkbox" name="" id="">Marca</p>
          <p><input type="checkbox" name="" id="">Rango de precios</p>
        </div>
        <div class=" row col-8">
          <div class="col text-center">
            <a href="{% url 'bandana_perro' %}"><img src="../../static/core/img/bandana_perro.jpg" alt="" class="producto_destacado border border-dark"></a>
            <p class="h5"> Bandana perro <br> $6.990</p>
          </div>
          <div class="col text-center">
            <a href="{% url 'carnet_tipo3' %}"><img src="../../static/core/img/carnet-tipo3.jpg" alt="" class="producto_destacado border border-dark"></a>
            <p>Carnet tipo 3 <br> $3.000</p>
          </div>
          <div class="col text-center">
            <a href="{% url 'cascabel_gato' %}"><img src="../../static/core/img/cascabel_gato.jpg" alt="" class="producto_destacado border border-dark"></a>
            <p> Cascabel para gatos <br> $7.990</p>
          </div>

        </div>
      </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<br>
{% endblock %}