{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block first_content %}
<head>
 <script>
          $(document).ready(function(){
          $("#Registro").ready(function(){
              //Ocultar Alerta cuando cargue la pagina
              $("#alertaNombre").hide();
              var mensaje = "";
              $("#alertaNombre").html(mensaje);
              //si nombre pierde el foco
              $("#nombre").focusout(function(){
                  // si no hay caracteres, mostramos alerta
                  if ($("#nombre").val().trim().length == 0) {
                      mensaje = "Debe ingresar un Nombre";
                      $("#alertaNombre").html(mensaje);
                      $("#alertaNombre").show();

                  } else {
                      //si hay caracteres, ocultamos la alerta
                      $("#alertaNombre").hide();
                  }
              });

              $("#alertaEmail").hide();
              var mensaje = "";
              $("#alertaEmail").html(mensaje);
              //si nombre pierde el foco
              $("#email").focusout(function(){
                  // si no hay caracteres, mostramos alerta
                  if ($("#email").val().trim().length == 0) {
                      mensaje = "Debe ingresar un Email";
                      $("#alertaEmail").html(mensaje);
                      $("#alertaEmail").show();

                  } else {
                      //si hay caracteres, ocultamos la alerta
                      $("#alertaEmail").hide();
                  }
              });
              $("#alertaDireccion").hide();
              var mensaje = "";
              $("#alertaDireccion").html(mensaje);
              //si nombre pierde el foco
              $("#direccion").focusout(function(){
                  // si no hay caracteres, mostramos alerta
                  if ($("#direccion").val().trim().length == 0) {
                      mensaje = "Debe ingresar una Dirección";
                      $("#alertaDireccion").html(mensaje);
                      $("#alertaDireccion").show();

                  } else {
                      //si hay caracteres, ocultamos la alerta
                      $("#alertaDireccion").hide();
                  }
              });

              $("#alertaTelefono").hide();
              var mensaje = "";
              $("#alertaTelefono").html(mensaje);
              //si nombre pierde el foco
              $("#telefono").focusout(function(){
                  // si no hay caracteres, mostramos alerta
                  if ($("#telefono").val().trim().length == 0) {
                      mensaje = "Debe ingresar un Telefóno/Celular";
                      $("#alertaTelefono").html(mensaje);
                      $("#alertaTelefono").show();

                  } else {
                      //si hay caracteres, ocultamos la alerta
                      $("#alertaTelefono").hide();
                  }
              })
          });

          $("#contra").hide();
        
          $("#contra").hide();
          var mensaje = "";
          $("#contra").html(mensaje);
          //si nombre pierde el foco
          $("#pass1").focusout(function(){
            // si no hay caracteres, mostramos alerta
              if ($("#pass1").val().trim().length == 0) {
                  mensaje = "Debe ingresar una Contraseña";
                    $("#contra").html(mensaje);
                    $("#contra").show();

              } else {
                  //si hay caracteres, ocultamos la alerta
                  $("#contra").hide();
                }
          });

          $("#contra2").hide();
        
          $("#contra2").hide();
          var mensaje = "";
          $("#contra2").html(mensaje);
          //si nombre pierde el foco
          $("#pass2").focusout(function(){
            // si no hay caracteres, mostramos alerta
              if ($("#pass2").val().trim().length == 0) {
                  mensaje = "Debe ingresar una Contraseña";
                    $("#contra2").html(mensaje);
                    $("#contra2").show();

              } else {
                  //si hay caracteres, ocultamos la alerta
                  $("#contra2").hide();
                }
          });

                   var Fn = {

                  validaRut : function (rutCompleto) {
                    rutCompleto = rutCompleto.replace("‐","-");
                    if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto ))
                      return false;
                    var tmp 	= rutCompleto.split('-');
                    var digv	= tmp[1]; 
                    var rut 	= tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    
                    return (Fn.dv(rut) == digv );
                  },
                  dv : function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                      S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                  }
                }

                $("#alertaRut").hide();
        
                $("#alertaRut").hide();
                  var mensaje = "";
                $("#rut").focusout(function(){
                  if ($("#rut").val().trim().length == 0) {
                    mensaje = "Debe ingresar un Rut Valido";
                    $("#alertaRut").html(mensaje);
                    $("#alertaRut").show();
                  } 
                  else {
                    $("#alertaRut").hide();
                  }
                });
                 
        });
      </script>
      </head>
<body class="page_color">
    <div class="container-fluid">
      <div class="row">
          <main class="pb-5 pt-5">
            
            <form  id="formulario" class="border border-dark colores_elementos">
              
              <h1 class="h1">
                Registro
                <br>
                <br>
              </h1>

                <div class="form-group">
                  <div class="alert alert-danger" id="alertaNombre" role="alert">
                  </div>
                  <label for="nombre">Nombre Completo:</label>
                  <input type="text" class="form-control" name="nombre" id="nombre" required>
                  <br>
                </div>

                <br>
                <div class="form-group">
                  <div class="alert alert-danger" id="alertaEmail" role="alert">
                  </div>
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ejemplo@ejemplo.cl" required>
                  <br>
                </div>

                <br>
                <div>
                  <div class="form-group">
                    <div class="alert alert-danger" id="alertaRut" role="alert">
                    </div>
                  <label for="rut">RUT:</label>
                  </div>
                  <input type="text" class="form-control" name="rut" id="rut" placeholder="11.111.111-K" required oninput="checkRut(this)">
                  <br>
                </div>
                <br>
                <div class="form-group">
                  <div class="alert alert-danger" id="alertaDireccion" role="alert">
                  </div>
                  <label for="direccion">Direccion:</label>
                  <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Los Leones 1234" required>
                  <br>
                </div>

                <br>
                <div>
                  <div class="form-group"></div>
                  <div class="alert alert-danger" id="alertaTelefono" role="alert"></div>
                  <div id="errorfono" class="alert alert-danger"></div>
                  <label for="telefono">Teléfono/Celular:</label>
                  <input type="tel" alt="number" class="form-control" name="telefono" id="telefono" placeholder="+56911111111" size="12" required>
                  <br>
                </div>

                <br>

                <div class="form-group">
                  <div class="alert alert-danger" id="contra" role="alert">
                  </div>
                  <label for="pass1">Contraseña:</label>
                  <input type="password" class="form-control" id="pass1" value="" required>
                  <div id="error1"></div>
                  <br>
              </div>

              <div class="form-group">
                <div class="alert alert-danger" id="contra2" role="alert">
                </div>
                  <label for="pass2">Confirmar Contraseña:</label>
                  <input type="password" class="form-control" id="pass2" value="" required>
                  <br>
                  <div id="error2" class="alert alert-danger" ></div>
                  <br>
              </div>
              
              
                <div class="row justify-content-between">
                <button type="submit" id="Enviar" class="col-5 btn btn-primary">Enviar</button>
            
                <button type="reset" value="Limpiar" class="col-5 btn btn-danger" >Limpiar</button>
              </div>
             
              </form>
          </div>
      </div>

    </main>
  <script src="../../static/core/js/validaciones.js"></script>
  {% endblock %}