{% extends 'core/base.html' %}
{% load static %}
{% block title %} Terminos y condiciones {% endblock %}

{% block first_content %}
    <main class="pb-5">
        <div class="container-fluid pt-5">
            <div class="row">
                <p class="h2 text-center">Terminos y condiciones.</p>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-2 border border-dark col-5 offset-md-3 colores_elementos ">
                  <br>   
                    <p class="h4 offset-md-2-text-dark"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repudiandae tempora doloremque ducimus quia delectus nam, eaque ipsam rerum error laborum, corrupti omnis amet distinctio magnam culpa illum veritatis atque?
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor earum voluptas labore pariatur, enim incidunt, amet sunt ullam ut magni eaque praesentium nemo illo officia, atque quos voluptatum qui! Adipisci.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed eos doloribus quo dolores dolorum facere porro earum natus cumque quas. Reiciendis doloremque qui tenetur. Dicta non error tenetur eum architecto. </p>
                    <br>
                    <br>
                    <br>
                        
            </main>
{% endblock %}          
   