{% extends 'crudsucursales/base.html' %}
{% load static %}
{% block title %} Nueva Sucursal {% endblock %}

{% block first_content %}
    <div class="container col-5 mt-2 text-white text-center rounded" style="background-color: purple;">
        <h1>Registro de Sucursales</h1>    
    </div>
    <div class="container mt-4 mb-4 border border-dark" style="background-color: purple;">
        <div class="table-responsive">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row form-group pb-3">
                    <label for="idSucursal" class="text-light text-center">
                        ID Sucursal
                    </label>
                    <div class="input-group">
                        {{form.idSucursal}}
                    </div>
                </div>
                <div class="row form-group pb-3">
                    <label for="nombresucursal" class="text-light text-center">
                        Nombre Sucursal
                    </label>
                    <div class="input-group">
                        {{form.nombresucursal}}
                    </div>
                </div>
                <div class="row form-group pb-3">
                    <label for="direccion" class="text-light text-center">
                        Dirección
                    </label>
                    <div class="input-group">
                        {{form.direccion}}
                    </div>
                </div>
                <div class="row form-group pb-3">
                    <label for="horario" class="text-light text-center">
                        Horario
                    </label>
                    <div class="input-group">
                        {{form.horario}}
                    </div>
                </div>
                <div class="row form-group pb-3">
                    <label for="festivos" class="text-light text-center">
                        Festivos
                    </label>
                    <div class="input-group">
                        {{form.festivos}}
                    </div>
                </div>
                <div class="text-center mt-2">
                    <input type="submit" class="btn btn-success" id="registrar" value="Registrar">
                    <input type="reset" class="btn btn-danger" id="limpiar" value="Limpiar">
                </div>

            </form>

        </div>
    </div>


{% endblock %}